<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VEDES s.r.o.</title>
  <link rel="stylesheet" href="/css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@300;400;500&family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 

   <link href="/dist/css/lightbox.css" rel="stylesheet" />
</head>



<body>

<div class="content">
  <div class="kontajner">
    <header class="header">
      <div class="header__box">
        <div class="header__hlavicka">
          <div class="header__title">
            <h1 class="header__nazov"><strong>VEDES s.r.o.</strong><br>
              <a class="telcislo" href="tel:+421905250455">0905 250 455</a>
            </h1>
          </div>  
          <!-- <div class="header__image">
            <img class="header__logo" src="images/1.svg" alt="logo">
          </div> -->
        </div>
      

        <nav class="menu">
          <div class="menu__box">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰</label>
        
            <ul class="menu__list">
              <li class="menu__item"><a class="menu__link" href="/">O nás</a></li>
              <li class="menu__item"><a class="menu__link" href="/sluzby/">Služby</a></li>
              <li class="menu__item"><a class="menu__link" href="/technika/">Technika</a></li>
              <li class="menu__item"><a class="menu__link" href="/cennik">Cenník</a></li>
              <li class="menu__item"><a class="menu__link" href="/galeria/">Galéria</a></li>
              <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
            </ul>
          </div>
      
        </nav>
      </div>
    </header>
  </div>

   <main class="main">

    {{ content | safe }}

   </main>
  </div>

<div class="kontajner">
  <footer class="footer"> <strong>VEDES s.r.o. &copy 2021 </strong><br>
     tvorba webových stránok jarabkova.sabina@gmail.com
  </footer>
</div>
  
</body>
</html>